In [ ]:
# This Python 3 environment comes with many helpful analytics libraries installed
# It is defined by the kaggle/python Docker image: https://github.com/kaggle/docker-python
# For example, here's several helpful packages to load

import numpy as np # linear algebra
import pandas as pd # data processing, CSV file I/O (e.g. pd.read_csv)

# Input data files are available in the read-only "../input/" directory
# For example, running this (by clicking run or pressing Shift+Enter) will list all files under the input directory

import os
for dirname, _, filenames in os.walk('/kaggle/input'):
    for filename in filenames:
        print(os.path.join(dirname, filename))

# You can write up to 20GB to the current directory (/kaggle/working/) that gets preserved as output when you create a version using "Save & Run All"
# You can also write temporary files to /kaggle/temp/, but they won't be saved outside of the current session

> # COM 526 P ANALYTICS & SYSTEMS OF BIG DATA PRACTICE â€“ PROBLEM SET V

In [ ]:
# Import necessary libraries
import pandas as pd
from sklearn.preprocessing import Binarizer, LabelEncoder
import numpy as np

# Load datasets
avocado_df = pd.read_csv('/kaggle/input/dataset/Avocado Dataset.csv')
trail_df = pd.read_csv('/kaggle/input/dataset/Trail.csv - Trail.csv.csv')

# 1. Select a subset of relevant attributes from Avocado Dataset (PLU 4046, 4225, 4770)
filtered_avocado_df = avocado_df[
    (avocado_df['4046'] > 0) | (avocado_df['4225'] > 0) | (avocado_df['4770'] > 0) & (avocado_df['type'] == 'organic')
]
relevant_columns = ['Date', 'AveragePrice', 'Total Volume', '4046', '4225', '4770', 'type', 'year', 'region']
filtered_avocado_relevant_df = filtered_avocado_df[relevant_columns]

# Display the first few rows of the filtered Avocado dataset
print("Filtered Avocado Data (PLU 4046, 4225, 4770, Organic):")
print(filtered_avocado_relevant_df.head())

Filtered Avocado Data (PLU 4046, 4225, 4770, Organic):
         Date AveragePrice  Total Volume     4046       4225    4770  \
0  27-12-2015         1.33      64236.62  1036.74   54454.85   48.16
1  20-12-2015         1.35      54876.98   674.28   44638.81   58.33
2  13-12-2015         0.93     118220.22   794.70  109149.67  130.50
3  06-12-2015         1.08      78992.15  1132.00   71976.41   72.58
4  29-11-2015         1.29      51039.60   941.48   43838.39   75.78

           type  year  region
0  conventional  2015  Albany
1  conventional  2015  Albany
2  conventional  2015  Albany
3  conventional  2015  Albany
4  conventional  2015  Albany

In [ ]:
# 2. Remove duplicates and fill missing values in "AveragePrice" in the Trail Dataset
trail_initial_size = trail_df.shape[0]
trail_df_cleaned = trail_df.drop_duplicates().copy()
trail_df_cleaned['AveragePrice'] = trail_df_cleaned['AveragePrice'].fillna(1.25)  # Avoiding inplace operation
trail_final_size = trail_df_cleaned.shape[0]

# Print size before and after removing duplicates
print(f"\nInitial Trail Dataset size: {trail_initial_size}")
print(f"Final Trail Dataset size (after removing duplicates): {trail_final_size}")

Initial Trail Dataset size: 202
Final Trail Dataset size (after removing duplicates): 195

In [ ]:
# 3. Binarize the "Year" column in the Avocado Dataset (Threshold: 2016)
binarizer = Binarizer(threshold=2016)
avocado_df['Year_bin'] = binarizer.fit_transform(avocado_df[['year']])

# Display binarized Year column
print("\nBinarized Year Column (Threshold: 2016):")
print(avocado_df[['year', 'Year_bin']].head())

Binarized Year Column (Threshold: 2016):
   year  Year_bin
0  2015         0
1  2015         0
2  2015         0
3  2015         0
4  2015         0

In [ ]:

# 4. Integer Encoding for categorical attributes in the Avocado Dataset
label_encoder = LabelEncoder()
avocado_df['type_encoded'] = label_encoder.fit_transform(avocado_df['type'])

# Display encoded Type column
print("\nInteger Encoded 'Type' Column:")
print(avocado_df[['type', 'type_encoded']].head())

Integer Encoded 'Type' Column:
           type  type_encoded
0  conventional             0
1  conventional             0
2  conventional             0
3  conventional             0
4  conventional             0

In [ ]:
# 5. One-Hot Encoding for the "Region" column in the Avocado Dataset
region_encoded = pd.get_dummies(avocado_df['region'], prefix='Region')
avocado_df = pd.concat([avocado_df, region_encoded], axis=1)

# Display one-hot encoded columns for Region
print("\nOne-Hot Encoded 'Region' Columns:")
print(avocado_df.filter(like='Region_').head())

One-Hot Encoded 'Region' Columns:
   Region_Albany  Region_Atlanta  Region_BaltimoreWashington  Region_Boise  \
0           True           False                       False         False
1           True           False                       False         False
2           True           False                       False         False
3           True           False                       False         False
4           True           False                       False         False

   Region_Boston  Region_BuffaloRochester  Region_California  \
0          False                    False              False
1          False                    False              False
2          False                    False              False
3          False                    False              False
4          False                    False              False

   Region_Charlotte  Region_Chicago  Region_CincinnatiDayton  ...  \
0             False           False                    False  ...
1             False           False                    False  ...
2             False           False                    False  ...
3             False           False                    False  ...
4             False           False                    False  ...

   Region_SouthCarolina  Region_SouthCentral  Region_Southeast  \
0                 False                False             False
1                 False                False             False
2                 False                False             False
3                 False                False             False
4                 False                False             False

   Region_Spokane  Region_StLouis  Region_Syracuse  Region_Tampa  \
0           False           False            False         False
1           False           False            False         False
2           False           False            False         False
3           False           False            False         False
4           False           False            False         False

   Region_TotalUS  Region_West  Region_WestTexNewMexico
0           False        False                    False
1           False        False                    False
2           False        False                    False
3           False        False                    False
4           False        False                    False

[5 rows x 108 columns]

In [ ]:
# 6. Ignore tuples with missing values in the Avocado Dataset
avocado_cleaned_df = avocado_df.dropna()

# Display cleaned Avocado dataset (without NaN values)
print("\nAvocado Data after removing rows with missing values:")
print(avocado_cleaned_df.head())

Avocado Data after removing rows with missing values:
         Date AveragePrice  Total Volume     4046       4225    4770  \
0  27-12-2015         1.33      64236.62  1036.74   54454.85   48.16
1  20-12-2015         1.35      54876.98   674.28   44638.81   58.33
2  13-12-2015         0.93     118220.22   794.70  109149.67  130.50
3  06-12-2015         1.08      78992.15  1132.00   71976.41   72.58
4  29-11-2015         1.29      51039.60   941.48   43838.39   75.78

   Total Bags  Small Bags  Large Bags  XLarge Bags  ... Region_SouthCarolina  \
0     8696.87     8603.62       93.25          0.0  ...                False
1     9505.56     9408.07       97.49          0.0  ...                False
2     8145.35     8042.21      103.14          0.0  ...                False
3     5811.16     5677.40      133.76          0.0  ...                False
4     6183.95     5986.26      197.69          0.0  ...                False

   Region_SouthCentral Region_Southeast  Region_Spokane  Region_StLouis  \
0                False            False           False           False
1                False            False           False           False
2                False            False           False           False
3                False            False           False           False
4                False            False           False           False

   Region_Syracuse  Region_Tampa  Region_TotalUS  Region_West  \
0            False         False           False        False
1            False         False           False        False
2            False         False           False        False
3            False         False           False        False
4            False         False           False        False

   Region_WestTexNewMexico
0                    False
1                    False
2                    False
3                    False
4                    False

[5 rows x 69 columns]

In [ ]:
# 7. Drop the attribute with high nullity in the Avocado Dataset
nullity_threshold = avocado_df.isnull().mean().idxmax()
avocado_df_dropped = avocado_df.drop(columns=[nullity_threshold])

print(f"\nDropped column with highest nullity: {nullity_threshold}")

Dropped column with highest nullity: AveragePrice

In [ ]:
# 8. Statistical Summary of the Avocado Dataset (for numeric columns only)
numeric_columns = avocado_df.select_dtypes(include=[np.number])  # Select only numeric columns
stat_summary = {
    'Dimensions': avocado_df.shape,
    'Most Frequent Values': avocado_df.mode().iloc[0],
    'Data Types': avocado_df.dtypes,
    'Count': avocado_df.count(),
    'Mean': numeric_columns.mean(),
    'Standard Deviation': numeric_columns.std(),
    'Min': numeric_columns.min(),
    'Max': numeric_columns.max(),
    '25%': numeric_columns.quantile(0.25),
    'Median (50%)': numeric_columns.median(),
    '75%': numeric_columns.quantile(0.75),
    'Class Distribution (Type)': avocado_df['type'].value_counts(normalize=True),
    'Correlation Matrix': numeric_columns.corr(),
    'Skewness': numeric_columns.skew(),
}

# Display statistical summary
print("\nStatistical Summary of the Avocado Dataset:")
print(stat_summary)

Statistical Summary of the Avocado Dataset:
{'Dimensions': (18250, 69), 'Most Frequent Values': Date                       18-03-2018
AveragePrice                     1.15
Total Volume                  2038.99
4046                              0.0
4225                              0.0
                              ...
Region_Syracuse                 False
Region_Tampa                    False
Region_TotalUS                  False
Region_West                     False
Region_WestTexNewMexico         False
Name: 0, Length: 69, dtype: object, 'Data Types': Date                        object
AveragePrice                object
Total Volume               float64
4046                       float64
4225                       float64
                            ...
Region_Syracuse               bool
Region_Tampa                  bool
Region_TotalUS                bool
Region_West                   bool
Region_WestTexNewMexico       bool
Length: 69, dtype: object, 'Count': Date                       18250
AveragePrice               18222
Total Volume               18250
4046                       18250
4225                       18250
                           ...
Region_Syracuse            18250
Region_Tampa               18250
Region_TotalUS             18250
Region_West                18250
Region_WestTexNewMexico    18250
Length: 69, dtype: int64, 'Mean': Total Volume    850598.273413
4046            292992.481896
4225            295138.477670
4770             22838.484500
Total Bags      239626.747390
Small Bags      182185.367250
Large Bags       54335.123135
XLarge Bags       3106.256292
year              2016.148000
Year_bin             0.384603
type_encoded         0.499945
dtype: float64, 'Standard Deviation': Total Volume    3.453456e+06
4046            1.264956e+06
4225            1.204089e+06
4770            1.074613e+05
Total Bags      9.862168e+05
Small Bags      7.461591e+05
Large Bags      2.439596e+05
XLarge Bags     1.769242e+04
year            9.400127e-01
Year_bin        4.865146e-01
type_encoded    5.000137e-01
dtype: float64, 'Min': Total Volume      84.56
4046               0.00
4225               0.00
4770               0.00
Total Bags         0.00
Small Bags         0.00
Large Bags         0.00
XLarge Bags        0.00
year            2015.00
Year_bin           0.00
type_encoded       0.00
dtype: float64, 'Max': Total Volume    62505646.52
4046            22743616.17
4225            20470572.61
4770             2546439.11
Total Bags      19373134.37
Small Bags      13384586.80
Large Bags       5719096.61
XLarge Bags       551693.65
year                2018.00
Year_bin               1.00
type_encoded           1.00
dtype: float64, '25%': Total Volume    10839.6275
4046              854.2100
4225             3008.0975
4770                0.0000
Total Bags       5089.0825
Small Bags       2850.3225
Large Bags        127.5800
XLarge Bags         0.0000
year             2015.0000
Year_bin            0.0000
type_encoded        0.0000
Name: 0.25, dtype: float64, 'Median (50%)': Total Volume    107365.505
4046              8643.200
4225             29058.875
4770               184.975
Total Bags       39741.180
Small Bags       26351.615
Large Bags        2647.270
XLarge Bags          0.000
year              2016.000
Year_bin             0.000
type_encoded         0.000
dtype: float64, '75%': Total Volume    432952.6650
4046            111008.7125
4225            150166.3350
4770              6242.0550
Total Bags      110781.1150
Small Bags       83336.2100
Large Bags       22018.2750
XLarge Bags        132.4325
year              2017.0000
Year_bin             1.0000
type_encoded         1.0000
Name: 0.75, dtype: float64, 'Class Distribution (Type)': type
conventional    0.500055
organic         0.499945
Name: proportion, dtype: float64, 'Correlation Matrix':               Total Volume      4046      4225      4770  Total Bags  \
Total Volume      1.000000  0.977863  0.974181  0.872203    0.963047
4046              0.977863  1.000000  0.926110  0.833390    0.920057
4225              0.974181  0.926110  1.000000  0.887855    0.905788
4770              0.872203  0.833390  0.887855  1.000000    0.792315
Total Bags        0.963047  0.920057  0.905788  0.792315    1.000000
Small Bags        0.967238  0.925280  0.916031  0.802733    0.994335
Large Bags        0.880640  0.838645  0.810016  0.698472    0.943009
XLarge Bags       0.747158  0.699378  0.688809  0.679862    0.804233
year              0.017165  0.003328 -0.009584 -0.036550    0.071520
Year_bin          0.011308  0.004989 -0.011139 -0.048374    0.052067
type_encoded     -0.232441 -0.225825 -0.232296 -0.210033   -0.217795

              Small Bags  Large Bags  XLarge Bags      year  Year_bin  \
Total Volume    0.967238    0.880640     0.747158  0.017165  0.011308
4046            0.925280    0.838645     0.699378  0.003328  0.004989
4225            0.916031    0.810016     0.688809 -0.009584 -0.011139
4770            0.802733    0.698472     0.679862 -0.036550 -0.048374
Total Bags      0.994335    0.943009     0.804233  0.071520  0.052067
Small Bags      1.000000    0.902589     0.806845  0.063883  0.046032
Large Bags      0.902589    1.000000     0.710859  0.087858  0.065349
XLarge Bags     0.806845    0.710859     1.000000  0.081005  0.059873
year            0.063883    0.087858     0.081005  1.000000  0.871957
Year_bin        0.046032    0.065349     0.059873  0.871957  1.000000
type_encoded   -0.220541   -0.193184    -0.175488  0.000076 -0.000026

              type_encoded
Total Volume     -0.232441
4046             -0.225825
4225             -0.232296
4770             -0.210033
Total Bags       -0.217795
Small Bags       -0.220541
Large Bags       -0.193184
XLarge Bags      -0.175488
year              0.000076
Year_bin         -0.000026
type_encoded      1.000000  , 'Skewness': Total Volume     9.007930
4046             8.648456
4225             8.942706
4770            10.159671
Total Bags       9.756334
Small Bags       9.540917
Large Bags       9.796719
XLarge Bags     13.140106
year             0.215371
Year_bin         0.474436
type_encoded     0.000219
dtype: float64}

In [ ]:
# 9. Test drive the use of Gini Index, Information Gain, Entropy and other measures that are supported in your platform, performing the role of data selection.
import numpy as np
import pandas as pd
from math import log2

# Example dataset
data = {
    'Feature1': [1, 1, 0, 0, 1, 0, 1, 0],
    'Feature2': [1, 0, 1, 0, 1, 1, 0, 0],
    'Label':    [1, 0, 1, 0, 1, 0, 1, 0]
}

df = pd.DataFrame(data)

# Function to calculate entropy
def entropy(probabilities):
    return -sum([p * log2(p) for p in probabilities if p != 0])

# Function to calculate Gini Index
def gini(probabilities):
    return 1 - sum([p**2 for p in probabilities])

# Function to calculate Information Gain
def information_gain(df, feature, label):
    # Calculate total entropy for the dataset
    total_entropy = entropy(df[label].value_counts(normalize=True))

    # Split the data by the feature and calculate entropy for each subset
    values = df[feature].unique()
    weighted_entropy = 0
    for value in values:
        subset = df[df[feature] == value]
        subset_entropy = entropy(subset[label].value_counts(normalize=True))
        weighted_entropy += len(subset) / len(df) * subset_entropy

    return total_entropy - weighted_entropy

# Apply calculations for each feature
features = ['Feature1', 'Feature2']
results = {}

for feature in features:
    info_gain = information_gain(df, feature, 'Label')
    gini_index = gini(df[feature].value_counts(normalize=True))
    results[feature] = {'Information Gain': info_gain, 'Gini Index': gini_index}

# Display the results
results_df = pd.DataFrame(results).T
results_df

          Information Gain  Gini Index
Feature1          0.188722         0.5
Feature2          0.188722         0.5

In [ ]:
#10. Test drive the implementation support in your platform of choice for data preprocessing phases such as cleaning, selection, transformation, integration in addition to the earlier exercises.
import pandas as pd
import numpy as np
from sklearn.feature_selection import SelectKBest, f_classif
from sklearn.preprocessing import StandardScaler, OneHotEncoder

# --- Sample dataset with missing values and duplicates ---
data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David', 'Alice'],
    'Age': [25, np.nan, 35, 45, 25],
    'Salary': [50000, 60000, np.nan, 80000, 50000],
    'Gender': ['Female', 'Male', 'Male', 'Male', 'Female']
}

df = pd.DataFrame(data)

# --- Step 1: Data Cleaning ---
# Remove duplicates
df_cleaned = df.drop_duplicates()

# Fill missing values using .loc[] to avoid SettingWithCopyWarning
df_cleaned.loc[:, 'Age'] = df_cleaned['Age'].fillna(df_cleaned['Age'].mean())
df_cleaned.loc[:, 'Salary'] = df_cleaned['Salary'].fillna(df_cleaned['Salary'].median())

# --- Step 2: Feature Selection ---
# For demonstration, we'll use only numerical features ('Age' and 'Salary') for selection
X = df_cleaned[['Age', 'Salary']]
y = np.random.randint(0, 2, len(df_cleaned))  # Example target variable for feature selection

# Select the best features (k=1 for simplicity here)
selector = SelectKBest(score_func=f_classif, k=1)
X_selected = selector.fit_transform(X, y)

# Get selected feature names
selected_features = X.columns[selector.get_support(indices=True)]

# --- Step 3: Data Transformation ---
# Scale the selected numerical features
scaler = StandardScaler()
X_scaled = scaler.fit_transform(X_selected)

# One-hot encode the categorical column using updated `sparse_output` parameter
encoder = OneHotEncoder(sparse_output=False)  # Updated argument to sparse_output
X_encoded = encoder.fit_transform(df_cleaned[['Gender']])

# Combine scaled and encoded features into a final dataset
X_preprocessed = np.concatenate([X_scaled, X_encoded], axis=1)

# --- Step 4: Data Integration (Optional, if you have multiple datasets) ---
# Example: Integrating another dataset (Assume we have an additional dataset)
additional_data = {
    'Name': ['Alice', 'Bob', 'Charlie', 'David'],
    'City': ['NYC', 'LA', 'SF', 'NYC']
}

df_additional = pd.DataFrame(additional_data)

# Merge the cleaned dataset with the additional dataset on 'Name'
df_merged = pd.merge(df_cleaned, df_additional, on='Name')

# --- Display Results ---
print("Cleaned DataFrame:")
print(df_cleaned)
print("\nSelected Feature(s):", selected_features)
print("\nPreprocessed Features (Scaled + Encoded):")
print(X_preprocessed)
print("\nMerged DataFrame:")
print(df_merged)

Cleaned DataFrame:
      Name   Age   Salary  Gender
0    Alice  25.0  50000.0  Female
1      Bob  35.0  60000.0    Male
2  Charlie  35.0  60000.0    Male
3    David  45.0  80000.0    Male

Selected Feature(s): Index(['Salary'], dtype='object')

Preprocessed Features (Scaled + Encoded):
[[-1.14707867  1.          0.        ]
 [-0.22941573  0.          1.        ]
 [-0.22941573  0.          1.        ]
 [ 1.60591014  0.          1.        ]]

Merged DataFrame:
      Name   Age   Salary  Gender City
0    Alice  25.0  50000.0  Female  NYC
1      Bob  35.0  60000.0    Male   LA
2  Charlie  35.0  60000.0    Male   SF
3    David  45.0  80000.0    Male  NYC